
<style>
ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0;
}

ul.pagination li {
	display: inline;
}

ul.pagination li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
}

ul.pagination li a.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
}

tr:nth-child(even) {
	background: #e6e6e6
}

tr:nth-child(odd) {
	background: #FFF
}
</style>

<div class="clearfix"></div>

<div class="row">
	<div class="col-md-3 form-group m_l20 pull-right">
		<label class="control-label" for="sort_by">Sort By &nbsp; </label>

		<button class="btn btn-default" ng-click="shortOrderAccording(1)">
			{{OrderStatusbtn}}
			<!-- <button>
				<select id="sort_by" class="form-control">
					<option value="Recent added Sentiment">Degree of Mutual
						Connection</option>
					<option value="3">Profile with images</option>

				</select> -->
	</div>


</div>
<div class="clear15"></div>

<div class="filter_box">
	<h2>Search</h2>
	<form class="search_opin ng-pristine ng-valid" method="get">
		<input type="search" placeholder="Search user using name or user id (please enter at least 3 characters)"
			ng-model="inputsearchStr">
		<button type="submit" ng-click="getConnectionList(inputsearchStr)">
			<i class="fa fa-search"></i>
		</button>
		<div class="col-pop-bx" style="display: none;">
			<p>Hello text here to check now</p>
		</div>
	</form>
	<p>Narrow Your Search</p>
	<div class="tab narrow">
		<ul>
			<li><button ng-click='javascript:void(0)'
					style='padding: 6px 13px; border: 1px solid #ddd; border-radius: 3px; display: inline-block;'
					title="This Feature is coming soon!">
					Location</li>
			<li><button ng-click='javascript:void(0)'
					style='padding: 6px 13px; border: 1px solid #ddd; border-radius: 3px; display: inline-block;'
					title="This Feature is coming soon!">From College</li>
			<li><button ng-click='javascript:void(0)'
					style='padding: 6px 13px; border: 1px solid #ddd; border-radius: 3px; display: inline-block;'
					title="This Feature is coming soon!">User mentioned in any
					post</li>
			<li><button ng-click='javascript:void(0)'
					style='padding: 6px 13px; border: 1px solid #ddd; border-radius: 3px; display: inline-block;'
					title="This Feature is coming soon!">User Pages</li>
			<li><button ng-click='javascript:void(0)'
					style='padding: 6px 13px; border: 1px solid #ddd; border-radius: 3px; display: inline-block;'
					title="This Feature is coming soon!"> People You May Know</li>

		</ul>
	</div>

	<div class="search_fld">
		<input type="text" placeholder="e.g. Delhi">
		<button type="submit">
			<i class="fa fa-search"></i>
		</button>
	</div>
</div>
<div class="clearfix"></div>
<div class="clear15"></div>
<div class="solve_problem">
	<div class="row">

		<!-- type -- USER start -->
		<!-- <div class="col-sm-12 col-md-8 gray-border">
		<div class="out-bx"
			ng-repeat="result in resultSearch | limitTo:pageSize"
			
			style="background: white;">
			<div>
				<div class="left_head">
					<a href="{{result.url}}"> <img src="{{result.imageUrl}}" class="pull-left"
						height="100" /> 
						<img class="pull-left"
						src="data:image/{{result.userImages[0].fileType}};base64,{{result.userImages[0].image}}"
						width="100px" height="100px" alt="" />
					</a>
					<div class="left_head"><img src="data:image/jpg;base64,{{result.image}}" class="pull-left" height="100" alt="image">
				</div>
				<div class="left_head" style="margin-left: 10px; float: left;">
					<div class="rgt-bx margin_lft mar_top">
						<h2>
							<a href="#/personality/?id={{result.id}}">{{result.name}}</a>
						</h2>
						{{result.formattedAge}}

						<p class="gray">
							{{result.gender}},{{result.dob}} <br>
							{{result.city}} {{result.state}}<br><span
								class="gray_bold" ng-if="result.userEducation.length>1">Education
								| </span> {{result.userEducation[0]}} <span><a href="#"
								class="red_txt" ng-if="result.userEducation.length>2">More...</a></span><br>
							<span style="text-decoration: underline"
								ng-if="result.userAssociation.length>1">Association:</span>{{result.userAssociation[0]}}
							<span><a href="#" class="red_txt"
								ng-if="result.userAssociation.length>2">More...</a></span>
						</p>
					</div>
				</div>

					<div class="right_head pull-right"
					ng-if="result.connectionStatus=='AddConnection'" >
					<a class="btn btn-default btn-default-c" style="margin-left: 0px;"
						ng-click="OnclickAddConnection(result.id)"><i class="fa fa-plus"></i> Add as
						Connection</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

	</div>
	 -->


		<div class="col-sm-12 col-md-8 gray-border">
			<div class="out-bx"
				ng-repeat="result in resultSearch | limitTo:pageSize"
				style="background: white;">
				<div>
					<div class="left_head">
						<a href="{{result.url}}"> <!-- <img src="{{result.imageUrl}}" class="pull-left" -->
							<!-- height="100" /> --> <img class="pull-left"
							ng-src="data:image/{{result.imageFileType}};base64,{{result.image}}"
							width="100px" height="100px" alt="" />
						</a>
						<!-- <div class="left_head"><img src="data:image/jpg;base64,{{result.image}}" class="pull-left" height="100" alt="image"> -->
					</div>
					<div class="left_head" style="margin-left: 10px; float: left;">
						<div class="rgt-bx margin_lft mar_top">
							<h2>
								<a href="{{result.url}}" title="View {{result.title}}'s Profile">{{result.title}}</a>
							</h2>

							<!--{{result.formattedAge}} -->
							<!-- <p class="gray">
							{{result.gender}}{{result.age}}<br> {{result.add}}<br>{{result.metuaConn}}<br>
							<span class="gray_bold">{{result.education}} </span>{{result.education}}<span></span><br>
							<span style="text-decoration: underline">{{result.Association}}</span>
							{{result.Association}} <span><a href="#" class="red_txt"></a></span>
						</p> -->

							<p class="gray search_user_text">
								{{result.user.gender}},{{result.ageString}} <br>
								{{result.user.city}}, {{result.user.state}}<br> <span
									class="gray_bold" ng-if="result.user.userEducation.length>1">Education
									| </span> {{result.user.userEducation[0]}} <span><a href="#"
									class="red_txt" ng-if="result.user.userEducation.length>2">More...</a></span><br>
								<span style="text-decoration: underline"
									ng-if="result.user.userAssociation.length>2">Association:</span>{{result.user.userAssociation[0]}}
								<span><a href="#" class="red_txt"
									ng-if="result.user.userAssociation.length>2">More...</a></span>
							</p>
						</div>
					</div>

					<!-- <div class="right_head pull-right">
							<a href="#" class="btn" style="margin-left: 0px;"
								ng-class="{'btn-danger btn-danger-c': result.componentType == 'User', 'btn-success btn-success-c': result.componentType == 'Opinion', 'btn-primary btn-primary-c': result.componentType == 'Sentiment'}">{{result.componentType}}</a>
						</div> -->
					<!--<div class="right_head pull-right"
						ng-if="result.connectionStatus=='AddConnection'" > -->

					<!-- <div class="right_head pull-right"
						ng-if="result.componentType == 'User' && result.connectionStatus=='Accepted'">
						 <a class="btn btn-default btn-default-c" style="margin-left: 0px;padding: 10px 10px;border-radius: 0;border: none;margin: 0 4px;"
							>							
					
							 <a class="btn btn-default btn-default-c" style="margin-left: 0px;padding: 10px 10px;border-radius: 0;border: none;margin: 0 4px;"
							 title="This Feature is coming soon!">		 			
					 	 Connection</a>							
					</div> -->


					<!-- <div class="right_head pull-right"
						ng-if="result.connectionStatus=='AddConnection'">
						<a class="btn btn-default btn-default-c"
							style="margin-left: 0px; padding: 10px 10px; border-radius: 0; border: none; margin: 0 4px;"
							ng-click="OnclickAddConnection(result.id)"
							title="This Feature is coming soon!">  <a class="btn btn-default btn-default-c" 
									style="margin-left: 0px;padding: 10px 10px;border-radius: 0;border: none;margin: 0 4px;"
									title="This Feature is coming soon!"> <i class="fa fa-plus"></i>
							Add as Connection
						</a>
					</div> -->


					<div class="right_head pull-right">
						<a class="btn btn-default btn-default-c"
							style="margin-left: 0px; padding: 10px 10px; border-radius: 0; border: none; margin: 0 4px;"
							title="This Feature is coming soon!"> <!--  <a class="btn btn-default btn-default-c" 
									style="margin-left: 0px;padding: 10px 10px;border-radius: 0;border: none;margin: 0 4px;"
									title="This Feature is coming soon!"> --> <i class="fa fa-plus"></i>
							Add as Connection
						</a>
					</div>

					<!-- <div class="right_head pull-right"
						ng-if="result.componentType == 'User' && result.connectionStatus=='Pending'">
						<a class="btn btn-default btn-default-c"
							title="This Feature is coming soon!"
							style="margin-left: 0px; padding: 10px 10px; border-radius: 0; border: none; margin: 0 4px;">
							<i class="fa fa-times"></i> Cancel
						</a>
					</div>

					<div class="right_head pull-right"
						ng-if="result.componentType == 'User' && result.connectionStatus=='Pending'">
						<a class="btn btn-default btn-default-c"
							style="margin-left: 0px; padding: 10px 10px; border-radius: 0; border: none; margin: 0 4px;">
							Pending</a>
					</div> -->

					<div class="clearfix"></div>
				</div>
			</div>
			<!--  </div> -->

			<!-- <div ng-if="UserListCount>0" ><a class="alert alert-warning m_t20 col-md-12"	
		href="#/viewAllsearchuser?search={{SearchKeyWords}}" role="alert"
			style="text-align: center"> <strong>See
				All</strong> Results.
		</a></div>class="org_btn" class="org_btn" -->

			<div ng-if="DisplayNodata">There are not matching results for
				your search! Please try again with different input.</div>

			<div style="margin-top: 10px; text-align: center;"
				ng-if="!DisplayNodata && totalPages>1">
				<button class="org_btn" ng-disabled="pageButtonDisabled(-1)"
					ng-click="paginate(-1)">Previous</button>

				<button class="org_btn" ng-disabled="pageButtonDisabled(1)"
					ng-click="paginate(1)">Next</button>
				<br> <br>
				<p>Page {{currentPage+1}} of {{totalPages}}</p>
			</div>

			<!--  <div>
		<button ng-disabled="pageButtonDisabled(-1)" ng-click="paginate(-1)">Previous</button>
		<button ng-disabled="pageButtonDisabled(1)" ng-click="paginate(1)">Next</button>
		<br /> <br /> Page {{currentPage+1}} of {{totalPages}}
	</div> -->

		</div>



	</div>
</div>


