<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>:: Admin Panel ::</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Custom Css -->

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/loginbox.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <!-- AdminCC You can choose a theme from css/themes instead of get all themes -->
    <link href="css/themes.css" rel="stylesheet" />
</head>

<body class="theme-cyan" style="background-image: -webkit-linear-gradient(0deg, rgb(66, 78, 163), rgb(241, 158, 195));" ng-app="govrnnAppAdmin"
    ng-controller="loginAdminCtrl">
    <div class="authentication">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-9 col-md-8 col-xs-12">
                    <div class="l-detail">
                        <h5>Welcome</h5>
                        <h1>Admin<span>CC</span></h1>
                        <h3>Sign in to start your session</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                            type and scrambled it to make a type specimen book.</p>
                        <ul class="list-unstyled l-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                        <ul class="list-unstyled l-menu">
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-12">
                    <div class="card">
                        <h4 class="l-login">Login</h4>
                        <span ng-show="loginFrm.$pristine && hasError" class="error">Authentication failed, Please try again.</span>
                        <span class="error" ng-show="loginFrm.$submitted && loginFrm.$invalid && !hasError">Please fill all the mandatory fields!</span>
                        <br>
                        <form class="col-md-12" name="loginFrm" ng-submit="authenticateAdmin(loginFrm)" novalidate>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" ng-model="user.name" required>
                                    <label class="form-label">Username</label>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="password" class="form-control" ng-model="user.password" required>
                                    <label class="form-label">Password</label>
                                </div>
                            </div>
                            <!-- <div>
                                <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-cyan">
                                <label for="rememberme">Remember Me</label>
                            </div> -->
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-search btn-danger theme-volilet">
                            		<span class="label-icon">SIGN IN</span>
                       			</button>
                            </div>
                            <!--  <a href="sign-up.html" class="btn btn-raised waves-effect" type="submit">SIGN UP</a>
                            <div class="text-left"> <a href="forgot-password.html">Forgot Password?</a> </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="assets/js/scripts.package.js"></script>
    <!-- Lib Scripts Plugin Js -->
    <script src="assets/js/javavender.package.js"></script>
    <!-- Lib Scripts Plugin Js -->
    <script src="assets/js/coloerffects.js"></script>
    <!-- Gradientify Js -->

    <script src="assets/js/main.js"></script>
    <!-- Custom Js -->
    <!-- <script type="text/javascript">
    $(document).ready(function() {
        $("body").gradientify({
            gradients: [
                { start: [49,76,172], stop: [242,159,191] },
                { start: [255,103,69], stop: [240,154,241] },
                { start: [33,229,241], stop: [235,236,117] }
            ]
        });
    });
</script> -->
    <script src="thirdparties/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="thirdparties/angular/angular.min.js"></script>
    <script src="thirdparties/angular/angular-route.min.js"></script>
    <script src="thirdparties/angular/angular-sanitize.min.js"></script>
    <script src="thirdparties/angular/angular-animate.min.js"></script>
    <script src="thirdparties/angular/angular-cookies.min.js"></script>
    <script src="thirdparties/angular/angular-resource.min.js"></script>
    <script src="thirdparties/angular/angular-touch.min.js"></script>
    <script src="thirdparties/ngStorage-0.3.11/ngStorage.js"></script>

    <script src="scripts/app.js"></script>

    <script src="scripts/controllers/adminLogin.js"></script>

</body>

</html>